{% extends 'base.html' %}
{% block body %}
<div class="h-100 bg-dark text-white d-flex flex-row flex-wrap">
  <div id="clock" class="clock w-100 align-self-start d-flex flex-column align-items-center" onload="showTime()"></div>


  <div id="main" class="w-100 align-self-center d-flex flex-column align-items-center">
    <h1>Door</h1>
    <button id="open" name="singlebutton" class="btn btn-primary" onclick="doorOpen()">Click me to Open!</button> 
  </div>
  <div id="history" class="w-100 align-self-end d-flex flex-column align-items-center">
    {% for s in op_str %}
    <p class="m-0">{{s}}</p>
    {% endfor %}
    <div id="disconnect" class="alert alert-danger" role="alert">
      You are disconnectted from server. Click 
      <a href="{{ url_for('main') }}"> here </a>
      to try to login again
    </div>
  </div>
</div>

<script>
function showTime(){
  var date = new Date();
  var h = date.getHours();
  var m = date.getMinutes();
  var s = date.getSeconds();
  h = (h < 10) ? "0" + h : h;
  m = (m < 10) ? "0" + m : m;
  s = (s < 10) ? "0" + s : s;
  var time = "Time: " + h + ":" + m + ":" + s;
  document.getElementById("clock").textContent = time;
  setTimeout(showTime, 1000);
}
showTime();

var socket = io.connect('http://' + document.domain + ':' + location.port);

socket.on('connect', function () {
    document.querySelector("#disconnect").hidden = 'True';
});

socket.on('disconnect', function () {
    console.log("Disconnected from the server");
    document.querySelector("#disconnect").hidden = null;
});

socket.on('history', function(data) {
    console.log(data);
    var hisdiv = document.querySelector('#history');
    
    // remove
    var hisp = hisdiv.querySelectorAll('p');
    for (var i=0; i<hisp.length; i++)
        hisdiv.removeChild(hisp[i]);

    // add
    for (var i=0; i<data.history.length; i++) {
        var p = document.createElement("p");
        p.className += "m-0";
        p.textContent = data.history[i];
        hisdiv.appendChild(p);
        console.log(p);
    }
});

function doorOpen(){
    console.log('123');
    socket.emit('open', {});
}

</script>
{% endblock %}
