{% extends 'base.html' %}
{% block body %}
<div class="h-100 bg-dark text-white d-flex flex-row flex-wrap">
  <div id="clock" class="clock w-100 align-self-start d-flex flex-column align-items-center" onload="showTime()"></div>


  <div id="main" class="w-100 align-self-center d-flex flex-column align-items-center">
    <h1>Door</h1>
    <form method="post" action="/open">
        <button id="open" name="singlebutton" class="btn btn-primary">Click me to Open!</button> 
    </form>
  </div>
  <div id="comment" class="w-100 align-self-end d-flex flex-column align-items-center">
    {% for s in op_str %}
    <p class="m-0">{{s}}</p>
    {% endfor %}
  </div>
</div>

<script>
function showTime(){
  var date = new Date();
  var h = date.getHours();
  var m = date.getMinutes();
  var s = date.getSeconds();
  h = (h < 10) ? "0" + h : h;
  m = (m < 10) ? "0" + m : m;
  s = (s < 10) ? "0" + s : s;
  var time = "Time: " + h + ":" + m + ":" + s;
  document.getElementById("clock").textContent = time;
  setTimeout(showTime, 1000);
}
showTime();
</script>
{% endblock %}
