{% extends "base.html" %}
{% block body %}
<div class="h-100 bg-dark text-white d-flex flex-row flex-wrap">
  <div id="clock" class="clock w-100 align-self-start d-flex flex-column align-items-center" onload="showTime()"></div>


  <div id="main" class="w-100 align-self-center d-flex flex-column align-items-center">
    <h1>Door</h1>
    <!-- https://bootsnipp.com/snippets/v7x77 -->
    <div class="onoffswitch">
      <input type="checkbox" class="onoffswitch-checkbox" id="myonoffswitch" onchange="onoffIt(event)">
      <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
      </label>
    </div>
    <button id="open" name="singlebutton" class="btn btn-primary" onclick="doorOpen()">Open once</button> 
  </div>
  <div id="history" class="w-100 align-self-end d-flex flex-column align-items-center">
    {% for s in op_str %}
    <p class="m-0">{{s}}</p>
    {% endfor %}
    <div id="disconnect" class="alert alert-danger" role="alert">
      You are disconnectted from server. Click 
      <a href="{{ url_for('main') }}"> here </a>
      to try to login again
    </div>
  </div>
</div>

<script>
function showTime(){
  var date = new Date();
  var h = date.getHours();
  var m = date.getMinutes();
  var s = date.getSeconds();
  h = (h < 10) ? "0" + h : h;
  m = (m < 10) ? "0" + m : m;
  s = (s < 10) ? "0" + s : s;
  var time = "Time: " + h + ":" + m + ":" + s;
  document.getElementById("clock").textContent = time;
  setTimeout(showTime, 1000);
}
showTime();

var socket = io.connect(document.location.protocol + "//" + document.domain + ":" + location.port);

socket.on("connect", function () {
    document.querySelector("#disconnect").hidden = "True";
});

socket.on("disconnect", function () {
    console.log("Disconnected from the server");
    document.querySelector("#disconnect").hidden = null;
});

socket.on("history", function(data) {
    console.log(data);
    var hisdiv = document.querySelector("#history");
    
    // remove
    var hisp = hisdiv.querySelectorAll("p");
    for (var i=0; i<hisp.length; i++)
        hisdiv.removeChild(hisp[i]);

    // add
    for (var i=0; i<data.history.length; i++) {
        var p = document.createElement("p");
        p.className += "m-0";
        p.textContent = data.history[i];
        hisdiv.appendChild(p);
        console.log(p);
    }
});

socket.on("state", function(data) {
    console.log(data);
    var swdiv = document.querySelector("#myonoffswitch");
    swdiv.checked = data["onoff"];
})

function doorOpen(){
    console.log("open");
    socket.emit("open", {});
}

function onoffIt(evt){
    console.log("onoff", evt.target.checked);
    socket.emit("onoff", {"onoff": evt.target.checked});
}
</script>
<style>
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}

.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #2FCCFF; color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    margin-bottom: 12px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
</style>
{% endblock %}
